@charset "utf-8";

html, body { height: 100%; }
img { color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
.hero-wrap ol, .hero-wrap ul { list-style: none; }
.hero-wrap li { display: list-item; }


.clearfix:before, .clearfix:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.icon-arrow-a-left { background: url(../img/right.png) 200px 0px no-repeat; }
.icon-arrow-a-right { background: url(../img/light.png) no-repeat; }
.icon-arrow-a-left { background-position: 0 0; height: 120px; width: 60px; }
.icon-arrow-a-right { background-position: 0 0; height: 120px; width: 60px; }
.fangda{position: absolute;top:475px;left: 640px;z-index:9999;}
.fangda2{position: absolute;top:475px;left: 1240px;z-index:9999;}








#index_b_hero { width: 1210px; height: 410px; margin: auto; position: relative; top: 180px;}
    #index_b_hero img { width: 1200px; height: 330px; }
    #index_b_hero .heros { width: 1210x; height: 410px; }
    #index_b_hero .hero-wrap { overflow: visible; position: absolute; }
    #index_b_hero .next, #index_b_hero .prev { filter: alpha(Opacity=70); opacity: .7; position: absolute; top: 50%; margin-top: -100px; margin-left: 5px; background-color: #303030; z-index: 3; }
    #index_b_hero .next:hover, #index_b_hero .prev:hover { background-color:#FF6000; }
    #index_b_hero .next { margin: -100px 5px 0 0; right: 0; }
    #index_b_hero .disabled { background-color: #eee; }
    #index_b_hero .mask-left, #index_b_hero .mask-right, #index_b_hero .hero { background: #fff; padding: 5px; z-index: 1; position: absolute; top: 0; left: 0; width: 1200px; height: 330px; overflow: hidden; left: 2420px; }
    #index_b_hero .mask-right, #index_b_hero .mask-left { z-index: 4; left: -1210px; filter: alpha(Opacity=50); opacity: .5; background: #fff; overflow: hidden; }
    #index_b_hero .mask-right { left: 1210px; }
    #index_b_hero .active { z-index: 2; left: 0; }