*{
	margin: 0;
	padding: 0;
}
.header{
	width:100%;
	height:130px;
	width:expression(document.body.header >= 1366? "1366px": "auto");
    min-width:1366px;
	background:url(../img/head.png) no-repeat;
	background-size:100% 100%;
}

.top{
	width: 1366px;
	height: 130px;
	margin: 0 auto;
	padding: 0 50px 0;
	box-sizing: border-box;
	position: relative;
}

.ser{
	width: 390px;
	height: 30px;
	position: absolute;
	right: 83px;
	top: 30px;
	
}

.ser input:first-child{
	width: 328px;
	height: 28px;
	background: #fff;
	border:1px solid #ff6000;
	position: absolute;
	left: 0;
}
.ser input:last-child{
	height: 30px;
	width: 60px;
	background: #ff6000;
	border: none;
	position: absolute;
	right: 0;
	color: white;
	font-size: 18px;
}
.nav{
	width: 390px;
	height: 20px;
	position: absolute;
	right: 83px;
	bottom: 30px;
}
.nav li{
	display: inline-block;
	list-style: none;
}
.nav a{
	text-decoration: none;
	color: white;
	margin: 0 6px;
}
.nav a:hover{
	color: #ff6000;
}




.pics{
	width: 1366px;
	height: 1100px;
	position: relative;
	margin: 0 auto;
	
}

.you1{
	position: absolute;
	right:300px;
	top: 270px;		
}

.wei11{
	position: absolute;
	right: 60px;
	top: 270px;
	width: 230px;		
}
.wei12{
	position: absolute;
	right: 60px;
	top: 330px;
	width: 230px;		
}


.you2{
	position: absolute;
	right:300px;
	top: 370px;		
}

.wei21{
	position: absolute;
	right: 60px;
	top: 370px;
	width: 230px;		
}
.wei22{
	position: absolute;
	right: 60px;
	top: 430px;
	width: 230px;		
}

.you3{
	position: absolute;
	right:300px;
	top: 470px;		
}

.wei31{
	position: absolute;
	right: 60px;
	top: 470px;
	width: 230px;		
}
.wei32{
	position: absolute;
	right: 60px;
	top: 530px;
	width: 230px;		
}

.you4{
	position: absolute;
	right:300px;
	top: 570px;		
}

.wei41{
	position: absolute;
	right: 60px;
	top: 570px;
	width: 230px;		
}
.wei42{
	position: absolute;
	right: 60px;
	top: 630px;
	width: 230px;		
}

.you5{
	position: absolute;
	right:300px;
	top: 670px;		
}

.wei51{
	position: absolute;
	right: 60px;
	top: 670px;
	width: 230px;		
}
.wei52{
	position: absolute;
	right: 60px;
	top: 730px;
	width: 230px;		
}

.you6{
	position: absolute;
	right:300px;
	top: 770px;		
}

.wei61{
	position: absolute;
	right: 60px;
	top: 770px;
	width: 230px;		
}
.wei62{
	position: absolute;
	right: 60px;
	top: 830px;
	width: 230px;		
}

.you7{
	position: absolute;
	right:300px;
	top: 870px;		
}

.wei71{
	position: absolute;
	right: 60px;
	top: 870px;
	width: 230px;		
}
.wei72{
	position: absolute;
	right: 60px;
	top: 930px;
	width: 230px;		
}

.you8{
	position: absolute;
	right:300px;
	top: 970px;		
}

.wei81{
	position: absolute;
	right: 60px;
	top: 970px;
	width: 230px;		
}
.wei82{
	position: absolute;
	right: 60px;
	top: 1030px;
	width: 230px;		
}


.g{
	position: absolute;
	left: 200px;
	top: 200px;
		
}

.zhong1{
	position: absolute;
	left: 200px;
	top: 600px;		
}

.ei11{
	position: absolute;
	left: 420px;
	top: 610px;	
	color: #1f1f1f;
	font-size: 20px;	
}
.ei12{
	position: absolute;
	left: 420px;
	top: 640px;
	color: #999999;
	font-size: 14px;
}
.ei13{
	position: absolute;
	left: 420px;
	top: 670px;
	color: #999999;
	font-size: 14px;
}
.ei14{
	position: absolute;
	left: 420px;
	top: 730px;
	color: #999999;
	font-size: 12px;
}

.zhong2{
	position: absolute;
	left: 200px;
	top: 800px;		
}

.ei21{
	position: absolute;
	left: 420px;
	top: 810px;	
	color: #1f1f1f;
	font-size: 20px;	
}
.ei22{
	position: absolute;
	left: 420px;
	top: 840px;
	color: #999999;
	font-size: 14px;
}
.ei23{
	position: absolute;
	left: 420px;
	top: 870px;
	color: #999999;
	font-size: 14px;
}
.ei24{
	position: absolute;
	left: 420px;
	top: 930px;
	color: #999999;
	font-size: 12px;
}

.zuo{
	
	position: absolute;
	left: 20px;
	top: 100px;
	
}







.bottom{
	width: 1366px;
    height:360px;
	background: url(../img/foot_bg.png)no-repeat;
    margin: 0 auto;
    position: relative;
}

.bot-l ul li,.hang1 ul li,.hang2 li{
	display: inline-block;
    list-style: none;
	font-size: 18px;
	padding: 15px;	
}
.hang1 ul li,.hang2 li{
	display: inline-block;
    list-style: none;
	font-size: 14px;
	padding: 15px;	
}
.bot-l ul li a,.hang1 ul li a,.hang2 li a{
	color: white;
	text-decoration: none;
}
.bot-l ul li a:hover,.hang1 ul li a:hover,.hang2 li a:hover{
	color: #ff6000;
}
.bot-l {
    position:absolute;
    left: 83px;	
    top: 40px;	
}
.bot-r{
	position:absolute;
    right: 83px;	
    top: 20px;	
}

span{
	position:absolute;
    left: 98px;	
    top: 165px;	
    font-size: 14px;
	color: white;	
}
.hang1{
	position:absolute;
    left: 200px;	
    top: 150px;		
}
.hang2{
	position:absolute;
    left: 200px;	
    top: 180px;		
}
.copy1 p{
	font-size: 14px;
	color: white;
	position:absolute;
    left: 300px;	
    top: 280px;		
}
.copy2 p{
	font-size: 14px;
	color: white;
	position:absolute;
    left: 300px;	
    top: 310px;		
}
.line1{
	position:absolute;
    left: 90px;	
    top: 140px;	
	
}
.line2{
	position:absolute;
    left: 180px;	
    top: 240px;		
}

