





.bottom{
	width: 1366px;
    height:360px;
	background: url(../img/foot_bg.png)no-repeat;
    margin: 0 auto;
    position: relative;
}

.bot-l ul li,.hang1 ul li,.hang2 li{
	display: inline-block;
    list-style: none;
	font-size: 18px;
	padding: 15px;	
}
.hang1 ul li,.hang2 li{
	display: inline-block;
    list-style: none;
	font-size: 14px;
	padding: 15px;	
}
.bot-l ul li a,.hang1 ul li a,.hang2 li a{
	color: white;
	text-decoration: none;
}
.bot-l ul li a:hover,.hang1 ul li a:hover,.hang2 li a:hover{
	color: #ff6000;
}
.bot-l {
    position:absolute;
    left: 83px;	
    top: 40px;	
}
.bot-r{
	position:absolute;
    right: 83px;	
    top: 20px;	
}

.friend{
	position:absolute;
    left: 98px;	
    top: 165px;	
    font-size: 14px;
	color: white;	
}
.hang1{
	position:absolute;
    left: 200px;	
    top: 150px;		
}
.hang2{
	position:absolute;
    left: 200px;	
    top: 180px;		
}
.copy1 p{
	font-size: 14px;
	color: white;
	position:absolute;
    left: 300px;	
    top: 280px;		
}
.copy2 p{
	font-size: 14px;
	color: white;
	position:absolute;
    left: 300px;	
    top: 310px;		
}
.line1{
	position:absolute;
    left: 90px;	
    top: 140px;	
	
}
.line2{
	position:absolute;
    left: 180px;	
    top: 240px;		
}

